body {
    /* variables */

    --col_grey : #F6F6F6;
    --col_black : #000;

    /* classes */

    .title {
        color: var(--col_dark_text_1);
    }
    
    .subtitle {
        color: var(--col_dark_text_1);
    }

    .nav_link {
        color: var(--col_dark_text_1);
    }

    .card {
        padding: 0;
        margin-bottom: 1rem;
    }

    .pets_portfolio_button_container {
        display: flex;
        justify-content: center;
        align-items : center;
        gap: 1rem;
    }

    .greey_roundBut {
        color : var(--col_link_norm);
        border-color : var(--col_link_norm);
    }

    .sec_content {
        width : 93.75%;
    }

    /* my styles fot shelter.Pets page */

    background-color: var(--col_white);

    .main_container {
        width: 1280px;

        .sec_1_container {
            padding-top: 30px;
            background: var(--col_white);

            .sec_content {
                header {
                    background-color: var(--col_white);
                    margin-bottom: 2rem;
                }
            }
        }

        .sec_2_container_petsPage {
            background-color : var(--col_grey);
            padding-top: 81px;
            padding-bottom: 93px;

            .sec_content {

                .pets_portfolio {
                    margin-top: 60px;
                     
                    .pets_portfolio_container {
                        display: flex;
                        justify-content: center;
                        align-items : center;
                        flex-wrap: wrap;
                        gap : 40px;
                        margin-bottom : 69px;
                    }
                }
            }
        }

        .sec_6_container {
            padding-top: 40px;
        }
    }

    @media screen and (max-width: 768px) {

        .sec_content {
            width : 100%;
        }

        .main_container {
            width : 100%;

            .sec_1_container {
                padding-bottom: 2rem;
            }

            .sec_2_container_petsPage {
                padding-top : 48px;
                padding-bottom: 74px;

                .sec_content {

                    .pets_portfolio {
                        margin-top: 30px;

                        .pets_portfolio_container {
                            margin-bottom: 52px;

                            .card {
                                &:nth-child(n+7) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            .sec_6_container {
                padding-top: 8px;

                .sec_content {
                    justify-content: center;
                    flex-wrap: wrap;

                    .sec_6_block_container {
                        gap : 66px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 320px) {

        .card_name {
            margin-top: 24px;
        }

        .main_container {

            .sec_1_container {
                padding-bottom: 15px;
                
                .sec_content {

                    header {
                        
                        .navs {

                            .humburger {
                                border-color : var(--col_black);

                                .humburger_line {
                                    //background-color : var(--col_black);
                                    background-color : var(--col_black);
                                }
                            }
                        }
                    }
                }
            }

            .sec_2_container_petsPage {
                padding-top: 27px;
                padding-bottom : 36px;

                .sec_content {

                    .pets_portfolio {
                        margin-top: 41px;

                        .pets_portfolio_container {

                            .card {

                                &:nth-child(n+4) {
                                    display: none;
                                }
                            }
                        }

                        .pets_portfolio_button_container {
                            gap : 8px
                        }
                    }
                }
            }

            .sec_6_container {
                
                .sec_content {
                    

                    .sec_6_block_container {
                        gap : 0;

                        .sec_6_block {

                            &:nth-child(2) {
        
                                .h3 {
                                    //font-size: 25px;
                                    width : 90%;
                                }
                            }
                        }
                    }
                }

                
            }
        }
    }
}

