body {
  --col_cream: #F1CDB3;
  --col_cream_hover: #FDDCC4;
  --col_white: #FFFFFF;
  --col_link_norm: #CDCDCD;
  --col_link_hover: #FAFAFA;
  --col_dark_text_1: #545454;
  --col_dark_text_2: #4C4C4C;
  --col_dark_text_3: #B2B2B2;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  background-color: var(--col_white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body a {
  text-decoration: none;
}

body p {
  margin: 0;
}

body .sec_container {
  width: 100%;
}

body .sec_content {
  width: 1200px;
  margin: 0 auto;
}

body .title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--col_cream);
  margin-bottom: 8px;
}

body .subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--col_white);
}

body .navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}

body .nav_link {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: var(--col_link_norm);
  -webkit-transition: color 1s linear, border-bottom 0.5s linear;
  transition: color 1s linear, border-bottom 0.5s linear;
  margin: 10px 0px;
}

body .nav_link:hover {
  color: var(--col_link_hover);
}

body .nav_link:active {
  border-bottom: 2px solid var(--col_cream);
}

body .h2 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
  color: var(--col_white);
}

body .h3 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--col_dark_text_1);
}

body .h4 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--col_dark_text_1);
}

body .h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--col_dark_text_1);
}

body .paragraph_l {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: var(--col_dark_text_2);
  margin-top: 25px;
}

body .paragraph_s {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: var(--col_dark_text_3);
}

body .button_primary {
  padding: 15px 45px 15px 45px;
  background-color: var(--col_cream);
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: none;
}

body .button_primary:hover {
  background: var(--col_cream_hover);
}

body .button_secondary {
  padding: 15px 45px 15px 45px;
  background-color: var(--col_white);
  border-radius: 100px;
  border: 2px solid var(--col_cream);
  -webkit-transition: background-color 0.5s ease-in, border 0.5s ease-in;
  transition: background-color 0.5s ease-in, border 0.5s ease-in;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

body .button_secondary:hover {
  background: var(--col_cream_hover);
  border-color: transparent;
}

body .card {
  background: var(--col_link_hover);
  border-radius: 9px;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  padding: 30px 41.5px;
}

body .card:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body .card_name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--col_dark_text_1);
  margin: 26px 0;
}

body .round_button {
  border: 2px solid var(--col_cream);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out;
  transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out;
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

body .round_button:hover {
  border-color: transparent;
  background-color: var(--col_cream_hover);
}

body .main_container {
  width: 1920px;
  margin: 0 auto;
}

body .main_container .sec_1_container {
  padding-top: 61px;
  background: url(../../assets/img_main/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  width: 100%;
}

body .main_container .sec_1_container .sec_content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

body .main_container .sec_1_container .sec_content .sec_1_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

body .main_container .sec_1_container .sec_content .sec_1_content .sec_1_content_tetxBlock {
  width: 38.3%;
  -webkit-transform: translateY(-38px);
          transform: translateY(-38px);
}

body .main_container .sec_1_container .sec_content .sec_1_content .sec_1_content_tetxBlock .paragraph_l {
  color: var(--col_link_norm);
  margin-top: 42px;
  margin-bottom: 41px;
}

body .main_container .sec_1_container .sec_content .sec_1_content img {
  width: 58%;
}

body .main_container .sec_2_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 120px;
  text-align: left;
  padding-top: 82px;
  padding-bottom: 82px;
}

body .main_container .sec_2_container .sec_2_container_text {
  width: 430px;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

body .main_container .sec_3_container {
  padding-top: 100px;
  padding-bottom: 80px;
}

body .main_container .sec_3_container .sec_3_carusel_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
  margin-top: 60px;
  margin-bottom: 57px;
}

body .main_container .sec_3_container .sec_3_carusel_container .sec_3_cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 76px;
}

body .main_container .sec_4_container {
  padding-top: 100px;
  padding-bottom: 100px;
}

body .main_container .sec_4_container .sec_4_help_variants {
  width: 1030px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 58px;
  gap: 120px;
}

body .main_container .sec_4_container .sec_4_help_variants .help_variant:nth-child(n+5) {
  margin-top: -66px;
}

body .main_container .sec_4_container .sec_4_help_variants .help_variant p {
  margin-top: 24px;
}

body .main_container .sec_5_container {
  padding-top: 82px;
  padding-bottom: 100px;
  text-align: left;
}

body .main_container .sec_5_container .sec_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}

body .main_container .sec_5_container .sec_content .sec_5_content {
  width: 380px;
}

body .main_container .sec_5_container .sec_content .sec_5_content .h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

body .main_container .sec_5_container .sec_content .sec_5_content .button_primary {
  padding: 10px 15px 10px 15px;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main_container .sec_5_container .sec_content .sec_5_content .button_primary img {
  margin-right: 8px;
}

body .main_container .sec_5_container .sec_content .sec_5_content .paragraph_s {
  margin-top: 16px;
}
/*# sourceMappingURL=style.css.map */